html body {
    font-family: 'Impact', sans-serif;
}

.header h1 {
    font-size: 24px;
}

.image-div img {
    width: 400px !important;
    height: 170px !important;
}

.loginbutton {
    margin: auto;
}

form {
    text-align: center !important;
}
