.loginbutton {
    font-family: 'Arial', sans-serif !important;
    margin: auto;
}

p {
    font-family: 'Arial', sans-serif !important;
}

.header h1 {
    font-size: 24px;
    font-family: 'Impact', sans-serif;
}


.image-div {
    text-align: center;
}

.resized-image {
    width: 20%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}

form {
    text-align: center !important;
}
