html body {
    font-family: 'Impact', sans-serif;
}

.header h1 {
    font-size: 24px;
}

.spotify-logo {
    height: 25%;
    width: 25%;
    align-content: center;
}

.loginbutton {
    margin: auto;
}

form {
    text-align: center !important;
}
