.resized-image {
    width: 60%;
    height: auto;
    padding-left: 10%;
}

h1 {
    font-size: 24px;
    font-family: 'Impact', sans-serif;
}

.logout-button {
    padding-right: 10%;
}

#similar-songs {
    height: 300px;
  }
  
  #scroll_box_div {
    height: 100%;
    max-height: calc(100% - 15px);
    overflow-y: auto;
    border: 1px solid #aaa;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px; /* add this property to set the minimum width to 300px */
  }
  
  #scroll_box {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #display_row {
    height: 300px;
  }
  
  .similar-songs-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }