<html>
<head>
    <title>Success</title>
</head>
<body>
    <h1>Success!</h1>
    <p>Your app has successfully authenticated with Spotify.</p>

    {% if success %}
    <p>Your message has been submitted successfully.</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label class="form-field" for="{{ form.playlist_id.id_for_label }}">Enter playlist ID:</label>
        <input class="form-field" type="text" name="{{ form.playlist_id.name }}" value="{{ form.playlist_id.value|default:'' }}">
        <button type="submit">Submit</button>
    </form>

    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="{{ form.playlist_id.id_for_label }}">Enter playlist ID:</label>
        <br><br>
        {{ form.playlist_id }}
        <button type="submit">Submit</button>
        <style>
            input[type="text"] {
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 5px;
                background-color: #f7f7f7;
            }
        </style>
    </form> {% endcomment %}
    <div class= "logoutbutton">
        <form method="post" action="{% url 'logout_view' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>